Flask
python-dotenv
Werkzeug
beautifulsoup4
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-auth 
pinecone-client
pinecone-datasets
openai
tiktoken
unstructured
pymupdf
pandas
pathlib
tqdm 