Flask
Werkzeug
beautifulsoup4
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-auth
pinecone-client
pinecone-datasets
openai
tiktoken
unstructured
selenium
pymupdf
pandas
pathlib
docx2txt
tqdm
python-dotenv