/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    color: #333;
}

h2 {
    font-size: 24px;
    color: #007BFF;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    color: #0056b3;
}

/* Dashboard-specific styles */
/* .upload-section, .file-list {
    margin-bottom: 20px;
} */

.upload-section h2, .file-list h2 {
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.upload-section form {
    display: flex;
    align-items: center;
}

.upload-section input[type="file"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.upload-section button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.upload-section button:hover {
    background-color: #0056b3;
}

.messages {
    margin-top: 10px;
    color: #dc3545;
}

.file-list ul {
    list-style-type: none;
    padding: 0;
}

.file-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.file-list li a {
    flex: 1;
    padding: 5px;
}

.file-list li a:last-child {
    margin-left: 10px;
    color: #dc3545;
}

.file-list li a:last-child:hover {
    color: #b3001f;
}

/* .logout-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
}

.logout-link:hover {
    background-color: #007BFF;
}

.logout-container {
    text-align: center;
    margin-top: 30px;
} */


/* Additional styles for a more professional look */

.container {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
}

.upload-section form, .file-list form {
    margin-bottom: 20px;
}

.upload-section input[type="file"],
.upload-section input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.upload-section button,
.file-list button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.upload-section button {
    background-color: #007BFF;
}

.file-list button {
    background-color: #dc3545;
}

.upload-section button:hover {
    background-color: #0056b3;
}

.file-list button:hover {
    background-color: red;
}

.file-list ul {
    padding: 0;
}

.file-list li {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 28px;
    color: white;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    /* background-color: #f9f9f9; */
    background-color: #0056b3;
    padding: 15px 30px;
    border-radius: 10px;
}

/* .header-container {
    text-align: center;
    margin-top: 30px;
} */

.header-link {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 10px 20px;
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
}

.header-link:hover {
    background-color: #007BFF;
}

footer {
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.footer-menu {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.footer-menu li {
    display: inline-block;
    margin-right: 15px;
}

.footer-menu li:last-child {
    margin-right: 0;
}

.footer-menu a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.footer-menu a:hover {
    color: black;
}

