<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Homepage</h1>
        <h3>Admin Login</h3>
        <a class="login-link" href="/login">Login</a>
        
        <h3>Interactive Chatbot</h3>
        <a class="chatbot-link" href="/chatbot">Start Chatbot</a>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="error">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</body>
</html>
